<configuration>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>D:/librarylog.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{E yyyy-MM-dd HH:mm:ss z} %p: %m%n</pattern>
        </encoder>
        <turboFilter class="ch.qos.logback.classic.turbo.TurboFilter">
            <Name>MyLogFilter</Name>
            <Filter class="ch.qos.logback.classic.filter.LevelFilter">
                <Level>INFO</Level>
                <OnMatch>ACCEPT</OnMatch>
                <OnMismatch>DENY</OnMismatch>
            </Filter>
        </turboFilter>
    </appender>
    <root level="INFO">
        <appender-ref ref="file" />
    </root>
</configuration>